{
  "sourceMaps": "both",
  "plugins": [
    [
      "transform-imports",
      {
        "vuetify": {
          "transform": "vuetify/es5/components/${member}",
          "preventFullImport": true
        }
      }
    ],
    "@babel/plugin-syntax-dynamic-import"
  ]
}
