{
  "root": true,
  "env": {
    "browser": true,
    "node": true
  },
  "extends": [
    "@nuxt/eslint-config",
    "plugin:@typescript-eslint/recommended",
    "plugin:nuxt/recommended",
    "plugin:vue/vue3-recommended",
    "prettier"
  ],
  "overrides": [
    {
      "files": ["*.vue"],
      "parser": "vue-eslint-parser",
      "parserOptions": {
        "parser": "@typescript-eslint/parser"
      }
    }
  ],
  "parserOptions": {
    "project": ["./tsconfig.json"]
  },
  "plugins": ["@typescript-eslint"],
  "rules": {
    "comma-dangle": ["error", "never"],
    "no-console": ["warn", { "allow": ["warn", "error"] }],
    "semi": "error",
    "@typescript-eslint/ban-ts-comment": [
      "error",
      {
        "ts-ignore": "allow-with-description"
      }
    ],
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-unused-vars": [
      "warn",
      {
        "argsIgnorePattern": "^_",
        "varsIgnorePattern": "^_",
        "caughtErrorsIgnorePattern": "^_"
      }
    ],
    "vue/block-tag-newline": [
      "error",
      {
        "singleline": "always",
        "multiline": "always"
      }
    ],
    "vue/component-name-in-template-casing": [
      "error",
      "PascalCase",
      {
        "registeredComponentsOnly": true
      }
    ],
    "vue/component-tags-order": [
      "error",
      {
        "order": ["template", "script:not([setup])", "script[setup]", "i18n", "style"]
      }
    ],
    "vue/define-emits-declaration": ["off", "type-based"],
    "vue/define-props-declaration": ["off", "type-based"],
    "vue/multi-word-component-names": "off",
    "vue/no-v-text-v-html-on-component": "warn",
    "vue/valid-v-slot": [
      "error",
      {
        "allowModifiers": true
      }
    ]
  }
}
