node_modules
.env

# Nuxt
*.log*
.cache
.nitro
.nuxt
.output
dist

.DS_Store
.history

# Vitest
coverage

# Cypress
cypress.env.json
cypress/config
cypress/downloads
cypress/screenshots
cypress/videos

# VS Code
*.code-workspace
.vscode/*
.idea