$body-font-family: 'Roboto', sans-serif;
$heading-font-family: $body-font-family;

$typography: (
  'h1': (
    'size': 1.4rem,
    'weight': 500,
    'line-height': 2rem,
    'letter-spacing': -0.015625em,
    'font-family': $heading-font-family,
    'text-transform': none,
    'background': red
  ),
  'h2': (
    'size': 1.3rem,
    'weight': 500,
    'line-height': 1.8rem,
    'letter-spacing': -0.0083333333em,
    'font-family': $heading-font-family,
    'text-transform': none
  ),
  'h3': (
    'size': 1.2rem,
    'weight': 500,
    'line-height': 1.7rem,
    'letter-spacing': normal,
    'font-family': $heading-font-family,
    'text-transform': none
  ),
  'h4': (
    'size': 1.1rem,
    'weight': 500,
    'line-height': 1.6rem,
    'letter-spacing': 0.0073529412em,
    'font-family': $heading-font-family,
    'text-transform': none
  ),
  'h5': (
    'size': 1rem,
    'weight': 500,
    'line-height': 1.5rem,
    'letter-spacing': normal,
    'font-family': $heading-font-family,
    'text-transform': none
  ),
  'h6': (
    'size': 1.25rem,
    'weight': 500,
    'line-height': 2rem,
    'letter-spacing': 0.0125em,
    'font-family': $heading-font-family,
    'text-transform': none
  ),
  'subtitle-1': (
    'size': 1rem,
    'weight': normal,
    'line-height': 1.75rem,
    'letter-spacing': 0.009375em,
    'font-family': $body-font-family,
    'text-transform': none
  ),
  'subtitle-2': (
    'size': 0.875rem,
    'weight': 500,
    'line-height': 1.375rem,
    'letter-spacing': 0.0071428571em,
    'font-family': $body-font-family,
    'text-transform': non
  )
);
