@media print {
  .v-navigation-drawer {
    display: none !important;
  }

  .v-toolbar {
    position: relative !important;
    background: none !important;
    color: #CCC !important;
    margin: 0 !important;
    padding: 0 !important;

    .v-toolbar__title {
      margin-left: 0px !important;
    }
  }

  .v-btn {
    display: none !important;
  }

  .content {
    padding: 0 !important;
  }

  .v-footer {
    position: relative;
  }

  .v-card__media {
    display: none !important;
  }
}
