@use 'vuetify-overrides/_typography';
@use 'vuetify/settings' with (
  $font-size-root: 0.9rem,
  $button-border-radius: 4px,
  $dialog-border-radius: 12px,
  $menu-elevation: 4,
  $typography: typography.$typography
);
